img {
  max-width: 100%;
  object-fit: cover;
}

.perguntas {
  display: flex;
  min-width: 420px;
  padding-bottom: 1.5rem;
  background-color: #aaa;
}

.perguntas-lista {
  max-width: 500px;
  color: #000000;
  margin-top: 0.3rem;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.perguntas-lista-item {
  color: #0473a4;
  font-weight: 700;
  font-size: 1.1rem;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
}

.perguntas-titulo {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #0473a4;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.perguntas-img {
  padding: 1.5rem;
}

.imagem-duvidas {
  max-width: 600px;
  min-width: 400px;
  border-radius: 10px;
}

/* PARTE MOBILE */

@media screen and (max-width: 768px) {
  .perguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    background-color: #f3f3f3f3;
  }
  .imagem-duvidas {
    max-width: 600px;
    border-radius: 10px;
  }
  perguntas-titulo {
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #0473a4;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .perguntas-bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .perguntas-titulo {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #0473a4;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .perguntas-img {
    max-width: 100%;
    object-fit: cover;
  }

  .imagem-duvidas {
    max-width: 100%;
  }
}
